:root {
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);

    --brown: hsl(14, 45%, 36%);

    --rose-dark: hsl(332, 51%, 32%);
    --rose-light: hsl(330, 100%, 98%);

    --font-main: "Outfit", sans-serif;
    --font-heading: "Young Serif", serif;
}

@font-face {
    font-family: "Outfit";
    src: url("../fonts/outfit/Outfit-VariableFont_wght.ttf")
        format("truetype-variations");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Young Serif";
    src: url("../fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
    font-weight: 400;
    line-height: 28px;
    font-size: 20px;
    background-color: var(--rose-light);
    color: var(--stone-600);
}
