:root {
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);

    --brown: hsl(14, 45%, 36%);

    --rose-dark: hsl(332, 51%, 32%);
    --rose-light: hsl(330, 100%, 98%);

    --font-main: "Outfit", sans-serif;
    --font-heading: "Young Serif", serif;
}

@font-face {
    font-family: "Outfit";
    src: url("../fonts/outfit/Outfit-VariableFont_wght.ttf")
        format("truetype-variations");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Young Serif";
    src: url("../fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: var(--font-main);
    font-weight: 400;
    line-height: 28px;
    font-size: 20px;
    background-color: var(--stone-100);
    color: var(--stone-600);
}

h1,
h2 {
    font-family: var(--font-heading);
}

main {
    width: 100%;
    padding: 40px 10px;
    margin: 120px 0;
}

li {
    margin-bottom: 10px;
    padding-left: 20px;
    margin-left: 28px;
}

li::marker {
    color: var(--rose-dark);
    font-size: 16px;
}

ol > li::marker {
    font-family: var(--font-main);
    font-size: 18px;
    font-weight: 600;
}

table {
    border-collapse: collapse;
}

.recipe-card-container {
    background-color: var(--white);
    width: 100%;
    max-width: 910px;
    margin: 0 auto;
    border-radius: 26px;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.recipe-card-image-container,
.recipe-card-content-container {
    padding: 0 52px;
}

.recipe-card-image-container {
    padding-top: 48px;
}

.recipe-card-content-container {
    padding-bottom: 40px;
}

.recipe-title {
    font-weight: 500;
    font-size: 50px;
    line-height: 58px;
    color: var(--stone-900);
    margin-bottom: 26px;
}

.recipe-image {
    max-width: 100%;
    height: auto;
    border-radius: 16px;
    margin-bottom: 36px;
}

.highlight-container {
    margin: 36px 0;
    background-color: var(--rose-light);
    padding: 34px 30px;
    border-radius: 14px;
}

.highlight-list > li {
    margin-bottom: 12px;
}

.highlight-title {
    font-size: 26px;
    line-height: 34px;
    margin-bottom: 14px;
    color: var(--rose-dark);
    font-weight: 600;
}

.recipe-info-container:not(:last-child) {
    margin: 36px 0;
    padding-bottom: 26px;
    border-bottom: 1px solid var(--stone-150);
}

.recipe-info-title {
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
    color: var(--brown);
}

.recipe-info-table {
    width: 100%;
    text-align: left;
    border: none;
    margin-top: 18px;
}

tr:not(:last-child) {
    border-bottom: 1px solid var(--stone-150);
}

td {
    padding: 14px 32px;
}

tr:last-child > td {
    padding-bottom: 0;
}

.recipe-info-table .table-value {
    font-weight: 600;
    color: var(--brown);
}

#attribution {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    max-width: 450px;
    width: 100%;
    text-align: center;
    padding: 0.75rem 0.45rem;
    background-color: hsla(0, 0%, 100%, 0.851);
    border-radius: 0.375rem;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    bottom: 1.25rem;
}

#attribution a {
    text-decoration: none;
    color: hsl(228, 45%, 44%);
}
#attribution a {
    text-decoration: underline;
}

@media (max-width: 642px) {
    main {
        margin: 0;
        padding: 0;
    }

    .recipe-card-image-container {
        padding: 0;
    }

    .recipe-card-content-container {
        padding: 0 42px;
        padding-bottom: 38px;
    }

    .recipe-image {
        border-radius: 0;
    }

    .recipe-info-title {
        margin-bottom: 20px;
    }

    td {
        padding: 14px 28px;
    }
}
